@charset "utf-8";
/* CSS Document */

* {
	box-sizing: border-box;
}

html{
	background: url('../images/jaguar-xe.jpg')no-repeat center center fixed;
	background-size: cover;
}

.container {
	max-width: 600px;
	background-color: rgba(0,0,0,0.5);
	padding: 20px 20px;
	border-radius: 10px;
	margin: 50px 50px;
		
}
 h1 {
	color: white;
	font-family: 'Roboto', sans-serif;
}

p {
	color: white;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
}

input {
	background-color: #DB3030;
	padding: 10px 20px;
	font-weight: bold;
	color: white;
	border: 1px solid #DB3030;
	border-radius: 1px;
	cursor: pointer;

}
@media screen and (max-width: 600px) {
  .container {
    margin: 50px 50px;
    width: 100%;
  }